
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #e11;
    padding: 20px;
    color: #fff;
    border-radius: 40px 40px 0px 0px;
    margin: 1px;
    /* padding: 12%; */
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    color: #3a1010;
    text-decoration: none;
  }
  #line{
    width: 330px;
    height: 3px;

    background-color: #3a1010;
  }
  section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  .box {
    margin: auto;
    width: 430px;
    height: 932px;
    padding: 10px;
    border: 5px solid rgb(215, 185, 191);
    border-radius: 40px;
}
.line{
    margin: 100px;
}
.homebox{
    color: green;
    margin: auto;
      width: 430px;
      height: 932px;
      padding: 10px;
      border: 5px solid rgb(215, 185, 191);
      border-radius: 40px;
}